.button {
    width: 100%;
	height: 35px;
	max-width: 400px;
	border: none;
    border-radius: 0.15em;
    text-transform: uppercase;
	letter-spacing: 0.065em;
	cursor: pointer;
}

.button--principal{
    margin: 0px;
    background-color: var(--principal-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.button--secondary{
    border: 2px solid var(--principal-color);
    background-color: var(--secondary-color);
    color: var(--principal-color);
    cursor: pointer;
}

.button--variant{
    background: none;
    color: var(--principal-color);
    cursor: pointer;
}

.button:disabled{
    color: #b3b3b3;
    border: none;
    background-color: #cac8c875;
    cursor: not-allowed;
}