@import './icons.css';

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Regular.otf');
}

:root {
  --principal-color: #5387cc;
  --secondary-color: #ffffff;
  --light-color: #b3b3b3;
  --principal-text-color: #333333;
  --secondary-text-color: #808080;
  --success-color: #3fc68d;
  --error-color: #FF6660;
  --button-color: #ff9c41;
  --whatsapp-color: #51C85D;  

  --lightest-gray: rgba(0, 0, 0, 0.05);
  --super-extra-light-gray: rgba(0, 0, 0, 0.25);
  --extra-light-gray: #f1f0f0;
  --extra-light-gray-transparent: rgb(222, 222, 222, 0.5);
  --white: #ffffff;
  --light-orange: #ffe3c9;

  --title-font: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--principal-text-color);
  font-family: var(--body-font);
  letter-spacing: 0.05em;
  outline: none;
}

button {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--title-font);
}

p,
figure {
  margin: 0px;
}

.no-scroll {
  overflow: hidden;
}
